extends ../templates/main

block content 
    include ../templates/seowoo_navbar.pug
    .spacer-10.position-relative.bg-body-tertiary
        .position-absolute.top-50.start-50.translate-middle
            h1.text-center 사진첩은 아직 준비중이야...