body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.path {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
    stroke-width: 8px;
}

.spacer-10 {
    width: 100%;
    height: 100vh;
}

.spacer-6 {
    width: 100%;
    height: 60vh;
}

.spacer-4 {
    width: 100%;
    height: 40vh;
}

.spacer-2 {
    width: 100%;
    height: 20vh;
}

@media (min-width: 1200px) {
    .title-5 {
        font-size: 5rem;
        font-weight: 500;
    }
    .title-4 {
        font-size: 4rem;
        font-weight: 500;
    }
}

.title-5 {
    font-size: calc(3rem + 2vw) !important;
    font-weight: 500;
}

.title-4 {
    font-size: calc(2.5rem + 1.5vw) !important;
    font-weight: 500;
}